# Python
__pycache__/
*.py[cod]
*$py.class

# Models and Datasets
*.pkl
*.csv
phishing_model.pkl
phishing_dataset.csv

# Virtual Environments
venv/
env/
.env
.venv
ENV/
env.bak/
venv.bak/

# IDES
.vscode/
.idea/
*.swp
*.swo

# OS Data
.DS_Store
Thumbs.db
